@model project_GVEncheva22.Models.Board

@{
    ViewData["Title"] = "Board Details";
}

<h1>Board Details</h1>

<div>
    <h4>Board</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            Tasks
        </dt>
        <dd class="col-sm-10">
            @if (Model.TaskItems != null && Model.TaskItems.Any())
            {
                <ul>
                    @foreach (var task in Model.TaskItems)
                    {
                        <li>@task.Title</li>
                    }
                </ul>
            }
            else
            {
                <p>No tasks yet.</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    }
</div>